body{
  background-color:black;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("../images/space-background1.png");
  // background-size: 100%;
  // background-repeat: no-repeat;
}

h4{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
a{
  color: black
}
a:hover{
  color: #1793E7;
}
nav{
  box-shadow: none;
  //
}
p{
  font-size: 20px;
}

// nav change stuff
.transparent{

  h1{
    transition: all 1s ease;
    margin-left: 100px;
  }
  h3{
    transition: all 1s ease;
      margin-left: 100px;
      }
  .fa{
    transition: all 1s ease;
    font-size: 50px;
  }
  .right{
    transition: all 1s ease;
    margin-top: 40px;
    margin-right: 200px;
  }
}
.nav-initial{
  transition: all 1s ease;
}
.nav-active{
  background-color: black;
}
.hidden-nav{
  opacity: 0;
  transition: all 1s ease;
}
// Each section
.section{
  margin-top: 50px;
}

.about{
  text-align: center;
  p{
    max-width: 650px;
    margin: 10px auto;
  }
}
// boxes
.card-panel{
  background-color: whitesmoke;
  border-radius: 5px;
}
// header custom class
.nav-header{
  font-family: 'Titillium Web', sans-serif;
  // background-color: transparent;
}

.nav-header-scroll{
  opacity: .85;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #0d47a1;
  height: 70px;
  transition: all 1s ease;
  h1{
    margin-top: 8px;
    font-size: 35px;
    transition: all 1s ease;
  }
  h3{
    opacity: 0;
    transition: all 1s ease;
  }
  .fa{
    transition: all 1s ease;
  }
  .right{
    transition: all 1s ease;
  }
}
// containers
.container{
  text-align: center;

}

.staggered-nav{
  float: right;
  color: white;
  margin: 100px;
  // margin-right: 300px;
  li{

    padding: 5px;
  }
  h5{
    font-size: 1.64rem;
  }
  a{
    color: white;
  }

}

.image-fades{
  opacity: 0;
}
.image-fades2{
  opacity: 0;
}
#staggered-list{
  li{
    opacity: 0;
  }
}
.code-image{
  img{
    width: 40%;
    // border-radius: 80px;
  }
}
.first-image{
  img{
    width: 20%;
    opacity: .9
  }
}
.meholder{
       border-radius: 100%;
    padding: 10px;
    margin: 45px;
  img{
   width: 40%;
    border-radius: 100%;
  }

}
.rock-img{
  img{

    width: 60%;

  }
}
.skills{
  li{
    font-size: 20px;
  }
}
.work{
   // background-image: url('../images/code.jpg');

}
.work-overlay{
  background:rgba(21, 20, 20, 0.67);

}
.shortwav-modal{
  img{
    // width: 0%;
  }
}
.modal-content{
  height: auto;
  text-align: center;
  img{
    width: 90%;
  }

}
.modal-trigger{

}


.modal-hover{
  position: relative;

  .hover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
  }
}

.modal-hover:hover .hover-content {
    display: block;
    background: rgba(0, 0, 0, .6);
}
.fa-arrows-alt{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
}
.screenshot{
  max-height: 150px;
  overflow: hidden;
  img{
    width: 100%;

  }
}
.logo{
  img{
    width: 100%;
  }
}

.visit-site{
    font-size: 20px;
    line-height: 40px;
    margin-left: 50px;

}
.img-3{
    opacity: .7;
    background-color: black;
    width: 50%;
}
.contact{
  li{
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }
  ul{
    width: 500px;
    display: inline-block;
  }

  // -webkit-filter: grayscale(1);
  // filter: grayscale(1);
  // background-image: url('../images/map2.jpg');
  background-size: 110%;
  background-position-y: -35px;
    h4{
    // color: white;
  }
  i{
    border-radius: 100px;
    padding: 40px;
    font-size: 50px;
    color: white;
  }
  .hoverable{
    border-radius: 40px;
  }
  .fa-github{
    background-color: black;
  }
  .fa-envelope-o{
    background-color: darkgreen;
  }
  .fa-linkedin{
   background-color: #1F84BA;
  }
  .fa-phone{
    background-color: dimgrey;
  }
}

// bouncing arrow
.modal-content{
.fa {
 width: 60px;
 display: block;
 text-align: center;
 font:normal 30px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}

.bounce {
 position: absolute;
 top: 20px;
 right: 20px ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
}
