body{
  // background-color:lightgrey;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("../images/space-background1.png");
  background-size: 100%;
  // background-repeat: no-repeat;
}

h4{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
a{
  color: black
}
a:hover{
  color: #1793E7;
}
nav{
  box-shadow: none;
  //
}
p{
  font-size: 20px;
}

// nav change stuff
.transparent{
  h1{
    transition: all 0.5s ease;
  }
  h3{
    transition: all 0.5s ease;
  }
}
.nav-initial{
  height: 200px;
  transition: all 1s ease;
}
.nav-active{
  background-color: black;
}
.hidden-nav{
  opacity: 0;
  transition: all 0.5s ease;
}
// Each section
.section{
  margin-top: 50px;
}


// boxes
.card-panel{
  background-color: whitesmoke;
  border-radius: 5px;
}
// header custom class
.nav-header{
  font-family: 'Titillium Web', sans-serif;
  // background-color: transparent;
}

.nav-header-scroll{
  opacity: .85;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #0d47a1;
  height: 70px;
  transition: all 0.5s ease;
  h1{
    margin-top: 8px;
    font-size: 35px;
    transition: all 0.5s ease;
  }
  h3{
    opacity: 0;
    transition: all 0.5s ease;
  }
}
// containers
.container{
  text-align: center;

}

.staggered-nav{
  float: right;
  color: white;
  margin: 100px;
  li{
    margin-top: 20px;
  }
  h5{
    font-size: 2.64rem;
  }
  a{
    color: white;
  }

}

.image-fades{
  opacity: 0;
}
.image-fades2{
  opacity: 0;
}
#staggered-list{
  li{
    opacity: 0;
  }
}
.code-image{
  img{
    width: 90%;
  }
}
.first-image{
  img{
    width: 20%;
    opacity: .9
  }
}
.meholder{
       border-radius: 100%;
    padding: 10px;
    margin: 45px;
  img{
   width: 40%;
    border-radius: 100%;
  }

}
.rock-img{
  img{

    width: 60%;

  }
}
.skills{
  li{
    font-size: 20px;
  }
}
.work{
   background-image: url('../images/code.jpg');
}
.work-overlay{
  background:rgba(21, 20, 20, 0.67);

}
.shortwav-modal{
  img{
    // width: 0%;
  }
}
.modal-content{
  text-align: center;
  img{
    width: 90%;
  }
}
.modal-hover{
  position: relative;

  .hover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
  }
}

.modal-hover:hover .hover-content {
    display: block;
    background: rgba(0, 0, 0, .6);
}
.fa-arrows-alt{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
}
.screenshot{
  img{
    width: 100%;
  }
}
.logo{
  img{
    width: 100%;
  }
}

.visit-site{
    font-size: 20px;
    line-height: 40px;
    margin-left: 50px;

}
.img-3{
    opacity: .7;
    background-color: black;
    width: 50%;
}
.contact{
  li{
    display: inline-block;
    margin: 50px;
  }
  ul{
    width: 400px;
    display: inline-block;
  }

  // -webkit-filter: grayscale(1);
  // filter: grayscale(1);
  background-image: url('../images/map2.jpg');
  background-size: 110%;
  background-position-y: -35px;
    h4{
    color: white;
  }
  i{
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    color: white;
  }
  .fa-github{
    background-color: black;
  }
  .fa-envelope-o{
    background-color: darkgreen;
  }
  .fa-linkedin{
   background-color: #1F84BA;
  }
  .fa-phone{
    background-color: dimgrey;
  }
}
